In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import PyUtils.py

ModuleNotFoundError: No module named 'PyUtils'

In [31]:
train = pd.read_csv("data/train.csv", sep = ",")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
print(train.shape)

(891, 12)

In [33]:
print(train.loc(0))

<pandas.core.indexing._LocIndexer object at 0x7fc381117898>

In [34]:
print(train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [35]:
Vm  = [[0 for i in range(2)] for i in range(12)]

print(Vm)

[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0]]

In [36]:
i= 0
for col in train.columns :
    
    Vm[i][0] = train.columns[i]      
    i+=1
    
print(Vm)

[['PassengerId', 0], ['Survived', 0], ['Pclass', 0], ['Name', 0], ['Sex', 0], ['Age', 0], ['SibSp', 0], ['Parch', 0], ['Ticket', 0], ['Fare', 0], ['Cabin', 0], ['Embarked', 0]]

In [37]:
i = 0
for col in train.columns :
     
    Vm[i][1] = train[col].isna().sum()

AttributeError: 'Series' object has no attribute 'isna'

In [38]:
for col in columns :
    if col.dtype = num
    train[col].fillna(col.mean())

SyntaxError: invalid syntax (<ipython-input-38-b74f08149520>, line 2)

In [39]:
def fill_na(df):
    continuous_columns = df.select_dtypes(include=["number"])
    categorical_columns = df.select_dtypes(include=["object"])
    for x in continuous_columns : 
        df[x] = df[x].fillna(df[x].mean())
    for x in categorical_columns : 
        df[x] = df[x].fillna(df[x].mode())
    return df

#### (fill_na(train)).head()

In [44]:
survived = train[train.Survived == 1]
dead = train[train.Survived == 0]

In [41]:
df = train[['Pclass','Survived']]
print(df)

     Pclass  Survived
0         3         0
1         1         1
2         3         1
3         1         1
4         3         0
5         3         0
6         1         0
7         3         0
8         3         1
9         2         1
10        3         1
11        1         1
12        3         0
13        3         0
14        3         0
15        2         1
16        3         0
17        2         1
18        3         0
19        3         1
20        2         0
21        2         1
22        3         1
23        1         1
24        3         0
25        3         1
26        3         0
27        1         0
28        3         1
29        3         0
..      ...       ...
861       2         0
862       1         1
863       3         0
864       2         0
865       2         1
866       2         1
867       1         0
868       3         0
869       3         1
870       3         0
871       1         1
872       1         0
873       3         0
874       2         1
875       3         1
876       3         0
877       3         0
878       3         0
879       1         1
880       2         1
881       3         0
882       3         0
883       2         0
884       3         0
885       3         0
886       2         0
887       1         1
888       3         0
889       1         1
890       3         0

[891 rows x 2 columns]

In [67]:
X_train= train[['SibSp','Parch','Fare']]
y_train= train['Survived']

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
clr=logreg.fit(X_train, y_train)

In [61]:
test = pd.read_csv("data/test.csv", sep = ",")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [69]:
X_test= test[['SibSp','Parch','Fare']]
y_pred = clr.predict(X_test)
print(logreg.score(X_test, y_test))

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [72]:
from sklearn.linear_model import LogisticRegression
lr = logisticRegression()
list_test_size = [a/20.0 for a in list(range(0,20,1))][1:0]
scores = []
for ts in list_test_size :
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = ts, random_state = 0)
    clf = lr.fit(X_train, y_train)
    scores.append(clf.score(X_test, y_test))
scores

NameError: name 'logisticRegression' is not defined